<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Iteration in thymeleaf</title>
</head>
<body>
<table border="1">
<!-- thead đóng gói những dòng header  -->
    <thead>
        <tr>
            <th>Sr. No</th>
            <th>Index</th>
            <th>Even</th>
            <th>Odd</th>
            <th>first</th>
            <th>last</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Gender</th>
        </tr>
    </thead>
<!-- tbody đóng gói phần thân của bảng -->
    <tbody>
<!--  odd(lẻ) hay even(chẵn) là nó dựa vào count ko phải dựa vào index  -->
        <tr th:each="user, userState: ${users}">
            <td th:text="${userState.count}"></td>
            <td th:text="${userState.index}"></td>
            <td th:text="${userState.even}"></td>
            <td th:text="${userState.odd}"></td>
            <td th:text="${userState.first}"></td>
            <td th:text="${userState.last}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.role}"></td>
            <td th:text="${user.gender}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>